#gameSpace {
    margin: auto;
    width: 70%;
    background-color: lightgray;
    overflow: auto;
}

#game {
    background-image: url("/images/background.png")
}

h1 {
    color: white;
    text-align: center;
    font-family: "open sans";
    font-weight: bold
}

#score, #lost, #win, #instructions {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "open sans"
}

#instructions {
    font-size: 25px
}